server:
  port: 8010

spring:
  application:
    name: microservice-consumer-movie

eureka:
  client:
    serviceUrl:
      defaultZone: http://admin:admin123@localhost:8761/eureka,http://admin:admin123@peer2:8762/eureka
    instance:
      prefer-ip-address: true