server:
  port: 8010

spring:
  application:
    name: microservice-consumer-movie

#配置microservice-provider-user的ribbon配置，也可以通过Java class进行配置
MICROSERVICE-PROVIDER-USER:
  ribbon:
#    NFLoadBalancerClassName:    #配置ILoadBalancer的实现类
    NFLoadBalancerRuleClassName: com.netflix.loadbalancer.RandomRule    #配置IRule的实现类
#    NFLoadBalancerPingClassName:     #配置IPing的实现类
#    NIWSServerListClassName:    #配置ServerList的实现类
#    NIWSServerListFilterClassName:    #配置ServerListFilter的实现类

eureka:
  client:
    serviceUrl:
      defaultZone: http://admin:admin123@localhost:8761/eureka,http://admin:admin123@localhost:8762/eureka
    instance:
      prefer-ip-address: true